<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name=”renderer” content=”webkit” />
	<title>文章详情</title>
	<link rel="stylesheet" href="/stylesheets/detail.css">
	<script src="/javascripts/jquery.min.js"></script>
</head>
<body>
	<div id="wraper">
		<div class="header" id="index">
			<div class="header_nav">
				<ul>
					<li class="img"><img src="/images/3.png" alt="鼎城投资"></li>
					<li class="index"><a href="/#index">首页</a><span></span></li>
					<div>
						<li><a href="/#about_us">关于我们</a></li>
						<li><a href="/#investment_arrow">投资方向</a></li>
						<li><a href="/#investment_examples">投资案例</a></li>
						<li><a href="/#manage_group">管理团队</a></li>
						<li><a href="/#last_news">最新动态</a></li>
						<li class="last"><a href="/#concat_us">联系我们</a></li>
					</div>
				</ul>
			</div>
		</div>
		<div class="container">
			<p class="title"></p>
			<p class="info"><span class="author"></span><span class="time"></span></p>
			<div class="container_body"></div>
		</div>
	</div>
	<script src="/javascripts/detail.js"></script>
</body>
</html>