<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name=”renderer” content=”webkit” />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<title>深圳同创鼎城投资有限公司</title>
	<link rel="stylesheet" href="/stylesheets/index.css">
	<script src="/javascripts/avalon.js"></script>
	<script src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ELEpUI0PRjAlUrycAaSXE0Ge2gpltthG"></script>
</head>
<body>
	<div id="wrapper">
		<div class="header" id="index">
			<div class="header_nav">
				<ul>
					<li class="img"><img src="/images/3.png" alt="鼎城投资"></li>
					<li class="index"><a href="#index">首页</a><span></span></li>
					<div>
						<li><a href="#about_us">关于我们</a></li>
						<li><a href="#investment_arrow">投资方向</a></li>
						<li><a href="#investment_examples">投资案例</a></li>
						<li><a href="#manage_group">管理团队</a></li>
						<li><a href="#last_news">最新动态</a></li>
						<li class="last"><a href="#concat_us">联系我们</a></li>
					</div>
				</ul>
			</div>
		<img src="/images/web_18.jpg" alt="深圳同创鼎城投资有限公司">
		</div>
		<div class="container">
			<div class="about_us" id="about_us">
				<div class="container_nav">
					<p class="container_nav_title">关于我们</p>
					<div class="container_nav_line"></div>
				</div>
				<div class="about_us_container">
					<p>深圳同创鼎诚投资管理有限公司（简称：鼎诚投资），是一家专业、稳健的投资及资产管理机构，专注于新材料、工业科技和TMT 信息技术等领域的成长性投资。鼎诚投资以优质的团队、平台、渠道资源，以及先进严谨的风险控制体系，致力于为投资者带来持续、稳健、高于市场平均水平的资本收益。致力于投资有核心价值的高成长型中小企业，与勤奋扎实、坚韧专注的企业家为伴，通过“资本”与“服务”，助力企业发展和产业升级，创造细分行业的领军者，实现企业和投资者共赢。鼎诚投资秉承“专业、真诚、高效执行”的基因，以“踏实进取、谋求长远”的态度从事一份对社会、对自身有意义的事业。</p>
				</div>	
			</div>
			<div class="investment_arrow" id="investment_arrow">
				<div class="container_nav">
					<p class="container_nav_title">投资方向</p>
					<div class="container_nav_line"></div>
				</div>
				<div class="investment_arrow_container">
					<div>
						<p class="investment_arrow_container_title">
						工业技术领域</p>
						<p>目前，中国的传统产业普遍处于产能过剩的状态，制造业也面临着萎缩的危机。作为全球最大的制造业国家，工业技术的升级，制造业的转型已经迫在眉睫，而当中蕴含着巨大的空间与发展机遇。鼎诚投资密切关注工业技术升级领域相关的投资机会，包括机器人、智能硬件、人工智能、大数据、智慧工厂以及相关产业链领域的投资。</p>
					</div>
					<div>
						<p class="investment_arrow_container_title">
						新材料领域</p>
						<p>新材料作为发展战略性新兴产业的基石，其发展对推动中国成为世界制造强国至关重要。目前，中国的许多基础原材料以及工业产品的产量位居世界前列，但是高性能材料、核心部件以及重大装备仍然严重依赖进口，关键技术受制于人。这也正是我国新材料产业发展的巨大潜在空间。鼎诚投资密切关注高性能结构材料、微电子和光电子材料和器件、新型功能材料、纳米材料和器件、生物材料、超导材料等新材料领域的投资。</p>
					</div>
				</div>
			</div>
			<div class="investment_examples" id="investment_examples">
				<div class="container_nav">
					<p class="container_nav_title">投资案例</p>
					<div class="container_nav_line"></div>
				</div>
				<div class="investment_examples_container">
					<div>
						<p class="item_title">某碳纤维项目</p>
						<p>某公司是一家专注于新材料研发的高科技企业，定位于高精尖新材料制造商，同时提供新材料领域的技术解决方案。2012年由海外留学归国人员创办，核心成员均来自世界一流大学，并有国际碳纤维行业龙头公司的丰富工作经验。团队在碳纤维领域拥有核心的自主知识产权，在生产高性能碳纤维方面具有极强的技术实力。</p>
						<br>
						<p>该碳纤维项目定位为鼎诚投资未来在新材料领域的整合及拓展平台，后续将围绕该碳纤维技术公司进行一系列整合，致力于打造中国新材料领域的龙头企业。</p>
					</div>	
				</div>	
			</div>
			<div class="manage_group" id="manage_group">
				<div class="container_nav">
					<p class="container_nav_title">管理团队</p>
					<div class="container_nav_line"></div>
				</div>
				<div class="manage_group_container">
					<p>鼎诚投资团队成员来自国内外知名投资机构及券商、会计师事务所，如九鼎投资、四大会计师事务所、招商证券、道琼斯咨询等。团队长期稳定，密切配合，能力互补，植根于中国，对中国本土的经济环境、人文环境、企业环境有深入的理解，具有卓越的合作和奋斗精神，对企业经营、行业格局、资本市场有长期的实践和深入的理解，积累了大量私募股权投资和并购的实践经验，取得了企业家的深度认同和信任。</p>
				</div>
			</div>
			<div class="last_active" id="last_news">
				<div class="container_nav">
					<p class="container_nav_title">最新动态</p>
					<div class="container_nav_line"></div>
				</div>
				<div class="last_active_container ms-controller" ms-controller="article">
					<div>
						<dl class="article_list_23_tl" ms-repeat="article">
							<dt>{{$key}}</dt>
							<dd ms-repeat="$val">
								<div class="article_list_23_tlDate">
									<span class="article_list_23_tlDateBar">
										<div class="article_list_23_tlRadius"></div>
										<span class="article_list_23_tlDateText">{{el.month}}<b>{{el.day}}</b></span>
									</span>
								</div>
								<div class="article_list_23_tlMain">
									<div class="article_list_23_tlMainIcon"></div>
									<h4 class="article_list_23_tlMainTitle">
										<a ms-attr-id="el._id">{{el.title}}</a>
									</h4>
									<div class="article_list_23_tlMainRow clearfix article_list_23_tlNoPic">
										<div class="article_list_23_tlMainText">
											<p class="article_list_23_tlMainContent">
												{{el.article | html}} 
											</p>
											<p class="article_list_23_tlFoot">{{el.time}}</p>
										</div>
									</div>
								</div>
							</dd>
						</dl>
					</div>
				</div>	
			</div>
			<div class="concat_us" id="concat_us">
				<div class="container_nav">
					<p class="container_nav_title" style="background: red">联系我们</p>
					<div class="container_nav_line"></div>
				</div>
				<div class="concat_us_container">
					<div class="add">
						<p class="add_title">深圳</p>
						<p class="add_address">地址: 深圳市南山区南山大道1088号南园枫叶大厦17L</p>
						<p class="add_email">Email:linxc@cdcfund.com(林先生)</p>
					</div>
					<div class="container_list">
						<div id="l-map"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			深圳同创鼎城投资有限公司  版权所有   粤ICP备15078335号
		</div>
	</div>
	<script src="/javascripts/index.js"></script>
	<script>
		var sContent ="<h3 style='color:red'>鼎城投资</h3><p style='font-size:10px;margin-top:5px;'>地址: 深圳市南山区南山大道1088号南园枫叶大厦17L</p><p style='font-size:10px;margin-top:5px'>Email: linxc@cdcfund.com(林先生)</p>";
		var map = new BMap.Map("l-map");
		var point = new BMap.Point(113.927965,22.522756);
		map.centerAndZoom(point, 15);
		var infoWindow = new BMap.InfoWindow(sContent);  // 创建信息窗口对象
		map.openInfoWindow(infoWindow,point); //开启信息窗口
	</script>
</body>
</html>