<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>发表文章页面</title>
	<meta name=”renderer” content=”webkit” />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <script type="text/javascript" charset="utf-8" src="lib/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="lib/ueditor/_examples/editor_api.js"></script>
     <script type="text/javascript" charset="utf-8" src="lib/ueditor/lang/zh-cn/zh-cn.js"></script>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/article.css">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">鼎诚管理系统</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="/admin/index">文章管理<span class="sr-only">(current)</span></a></li>
	        <li class="active"><a href="/adminArticle">发表文章</a></li>
	        
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= username %><span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a>修改密码</a></li>
	            <li><a href="/admin/logout">登出</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
<div>
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="title" class="col-sm-2 control-label">标题</label>
		    <div class="col-sm-9">
		      <input type="text" class="form-control" id="title" placeholder="文章标题">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="author" class="col-sm-2 control-label">作者</label>
		    <div class="col-sm-2">
		      <input type="text" class="form-control" id="author" placeholder="作者">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="time" class="col-sm-2 control-label">发表时间</label>
		    <div class="col-sm-2">
		      <input type="date" class="form-control" id="time" placeholder="发表文章时间">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">文章内容</label>
		    <div class="col-sm-10">
		    	<script id="editor" type="text/plain" style="height:500px;"></script>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
				<% if (newArticle) { %>	    
			      <button type="button" class="btn btn-default submit_article">发表文章</button>
			      <% } else { %>
			      <button type="button" class="btn btn-default modify_article">更改文章</button>
			      <% } %>
		    </div>
		  </div>
		</form>
</div>
<script src="/javascripts/article.js"></script>
</body>
</html>