*{
	padding: 0px;
	margin:0px;
}
li {
	list-style: none;
	float: left;
}
body{
	font-size: 16px;
}
body, html,#allmap {width: 100%;height: 100%;margin:0;font-family:"微软雅黑";font-size:14px;}
		#l-map{height:500px;width:100%;}
		#r-result{width:100%;}
a{
	text-decoration: none;
	color: white;
}
.active{
	border-bottom: 2px solid white;
	padding-bottom: 5px;
}
#wrapper{
	width: 100%;
}
.ms-controller{
	display: none;
}
.header_nav {
	height: 64px;
	opacity: 1;
	position: fixed;
	top: 0px;
	width: 100%;
	background: rgba(203, 218, 220, 0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99cbdadc,endColorstr=#99cbdadc);
	z-index: 2;
}
.header_nav ul .index{
	margin-left: 13%;
}
.header_nav ul li {
	color: white;
	zoom: 1;
	line-height: 64px;
	height: 64px;
	font-size: 1em;
	margin-left: 3%;
}
.header_nav ul .last{
	margin-right: 5%;
}
.header img {
	width: 100%;
	height: 100%;
}
.banner{
	width: 100% !important;
}
.header_nav ul li img{
	width: 210px;
	height: 65px;
}
li span{
	display: none;
}
.header_nav ul div{
	display: block;
}
.container{
	width: 100%;
}
.container_nav{
	position: relative;
}
.container_nav_title{
	width: 160px;
	background-color: #1e5b64;
	color: white;
	text-align: center;
	height: 27px;
	line-height: 27px;
	z-index: 0;
	margin-left: 5%;
	font-size: 1.2em;
}
.container_nav_line{
	width: 100%;
	position: absolute;
	height: 1px;
	background-color: #9F9F9F;
	top: 13px;
	z-index: -1;
}
.manage_group_container .teamName {
	width: 62px;
	padding-left: 2px;
	margin:20px auto;
	letter-spacing: 0px;
	color: black;
	border-bottom: 2px solid #636363;
}
.manage_group_container .teamName span{
	color: #59a9d0;
}
.teamList{
	display: inline-block;
	float: left;
	width: 16%;
	margin:0.3%;
}
.teamList .name{
	font-size: 14px !important;
}
.teamList img{
	width: 100%;
}
.teamShow .teamList p{
	letter-spacing: 0;
	color: black;
	font-size: 10px;
}
.about_us{
	padding-top: 75px;
}
.about_us_container,.manage_group_container{
	padding: 5% 5%;
}
.about_us_container p{
	font-size: 0.9em;
	color: #3A6F77;
	line-height: 20px;
	letter-spacing: 3px;
	font-size: 15px;
}
.investment_arrow , .manage_group{
	background: url(/images/bg.jpg);
	padding-top: 75px;
}
.investment_arrow_container{
	padding: 5% 5%;
}
.investment_arrow_container div {
	margin-bottom: 20px;
}
.investment_arrow_container div p {
	font-size: 0.9em;
	color: #3A6F77;
	line-height: 20px;
	letter-spacing: 3px;
	font-size: 15px;
}
.investment_examples{
	padding-top: 75px;
}
.investment_arrow_container div .investment_arrow_container_title{
	font-size: 1.3em;
	color: #182325;
	font-weight: bold;
	margin-bottom: 10px;
}
.investment_examples_container{
	padding: 5% 5%;
}
.investment_examples_container div {
	margin-bottom: 20px;
}
.investment_examples_container div .item_title{
	font-size: 1.3em;
	color: #182325;
	font-weight: bold;
	margin-bottom: 10px;
}
.investment_examples_container div p{
	font-size: 0.9em;
	color: #3A6F77;
	line-height: 20px;
	letter-spacing: 3px;
	font-size: 15px;
}
.manage_group_container{
	padding: 5% 5%;
}
.manage_group_container p{
	font-size: 0.9em;
	color: #3A6F77;
	line-height: 20px;
	letter-spacing: 3px;
	font-size: 15px;
}
.last_active{
	padding-top: 75px;
	margin-bottom: 20px;
}
.last_active_container{
	padding: 5% 5%;
}

.article_list_23_tl{
	border-style: solid;
    border-width: 0 0 0 4px;
    margin: 0 0 0 70px;
    list-style: none;
    position: relative;
    padding: 75px 0 0 0;
    border-color: #CCC;
}
.article_list_23_tl dt{
	background: #fff;
    border-style: solid;
    border-width: 4px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-style: oblique;
    position: absolute;
    margin-left: -36px;
    top: 0;
    font-size: 18px;
    border-color: #CCC;
}
.article_list_23_tl dd {
    margin: 0;
    min-height: 60px;
    padding-bottom: 40px;
    position: relative;
}
.article_list_23_tlDate {
    width: 95px;
    display: inline-block;
    position: absolute;
    left: -72px;
    line-height: 54px;
    top: 10px;
}
.article_list_23_tlDateBar {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    float: right;
}
.article_list_23_tlRadius {
    width: 0;
    height: 0;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    border-style: solid;
    border-width: 25px;
    border-radius: 100%;
    z-index: 1;
    border-color: #CCC;
}
.article_list_23_tlMainText{
	margin-top: 5px;
}
.article_list_23_tlDateText {
    z-index: 2;
    position: relative;
    line-height: 50px;
    text-align: center;
    display: block;
    font-size: 12px;
}
.article_list_23_tlDateText b {
    font-size: 20px;
    font-weight: normal;
}
.article_list_23_tlMain {
    margin-left: 65px;
    border-style: solid;
    border-width: 0 0 0 4px;
    padding: 0 0 0 20px;
    position: relative;
    border-color: #CCC;
}
.article_list_23_tlMainIcon {
    position: absolute;
    border-color: #CCC;
    width: 0;
    height: 0;
    display: block;
    border-width: 8px 8px 8px 0;
    border-style: solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    left: -12px;
    top: 28px;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.article_list_23_tlMainContent {
    line-height: 25px;
    max-height: 50px;
    overflow: hidden;
    font-size: 0.9em;

}
.article_list_23_tlFoot{
	margin-top: 10px;
	font-size: 0.9em;
}
.article_list_23_tl a:hover{
	cursor: pointer;
}
h4{
	    font-size: 22px;
}
h4 a{
	color: #000000
}
.concat_us{
	padding-top: 75px;
	background: #09424a;
	padding-bottom: 30px;
}
.concat_us_container{
	padding: 3% 5%;
	overflow: hidden;
}
.container_body{
	width: 100%;
}
.container_list {
	float: left;
	width: 50%;
	height: 370px;
	color: white;
}
.container_list_first{
	height: 50%;
}
.container_list_second{
	height: 50%;
}
.first{
	width: 49%;
	height: 100%;
	display: inline-block;
}
.first p,.second p {
	text-align: center;
	margin-bottom: 3px;
}
.second{
	width: 50%;
	height: 100%;
	display: inline-block;
}
.img{
	width: 73px;
	margin: 0 auto;
	margin-top: 30px;
}
.concat_us_container .add_title{
	font-weight: bold;
	font-size: 25px;
	color: white;
	margin-bottom: 20px;
}
.concat_us_container .add{
	margin-top: 20px;
	margin-bottom: 40px;
}
.concat_us_container .add_address{
	font-size: 15px;
	color: white;
	margin-bottom: 20px;
}
.concat_us_container .add_email{
	font-size: 15px;
	color: white;
}
.footer{
	background: #09424A;
	border-top: 1px solid #06373E;
	line-height: 40px;
	height: 40px;
	text-align: center;
	color: white;
}
#l-map{
	height: 370px !important;
}

.first{
	*display:bolock;
	*float: left;
}

@media screen and (max-width: 1030px) {

.header_nav ul .index{
	margin-left: 8%;
}
.header_nav ul li {
	color: white;
	zoom: 1;
	line-height: 64px;
	height: 64px;
	font-size: 1em;
	margin-left: 2%;
}
.header_nav ul .last{
	margin-right: 2%;
}
}

@media screen and (max-width: 815px) {
.header_nav ul .index{
	margin-left: 5%;
}
.header_nav ul li {
	color: white;
	line-height: 64px;
	height: 64px;
	font-size: 1em;
	margin-left: 1%;
}
.header_nav ul .last{
	margin-right: 1%;
}
.concat_us_container .add_title{
	font-weight: bold;
	font-size: 20px;
	color: white;
	margin-bottom: 20px;
}
.concat_us_container .add{
	margin-top: 20px;
	margin-bottom: 40px;
}
.concat_us_container .add_address{
	font-size: 10px;
	color: white;
	margin-bottom: 20px;
}
.concat_us_container .add_email{
	font-size: 10px;
	color: white;
}
.teamList{
	display: inline-block;
	float: left;
	width: 32%;
	margin:0.3%;
}
.teamList .name{
	font-size: 14px !important;
}
.teamList img{
	width: 100%;
}
.teamShow .teamList p{
	letter-spacing: 0;
	color: black;
	font-size: 10px;
}
}
@media screen and (max-width: 790px) {
.container_list{
	float: none;
	width: 100%;
}
.second{
	width: 49%;
}
}
@media screen and (max-width: 715px) {
.header_nav {
	height: 64px;
	opacity: 1;
	position: relative;
	top: 0px;
	width: 100%;
	background-color: rgba(30,91,100,0.6)
}
.header_nav ul {
	position: relative;
}
.header_nav ul div{
	display: none;
	position: absolute;
	top: 40px;
	right: 0px;
	margin-right: 10%;
	margin-top: 10px;
	background-color: white;
}
.header_nav ul div li a{
	color: black;
}
.header_nav ul li{
	line-height: 25px;
	height: 25px;
	font-size: 1em;
	margin: 0px;
	float: none;
	width: 100px;
	text-align: center;
}
.header_nav ul .img{
	color: white;
	line-height: 64px;
	height: 64px;
	float: left;
	margin-left: 10%;
	width: auto;
}
.header_nav ul li.index{
	position: absolute;
	top: 25px;
	right: 0px;
	margin-right: 10%;
	text-align: center;
	background-color: #4D7E8A;
	color: white;
	width: 100px;
	margin-bottom:10px;
}
.header_nav ul li.index:hover{
	cursor: pointer;
}
li span {
	position: absolute;
	top: 9px;
	right: 10px;
	display: inline-block;
	width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
}
concat_us_container .add_title{
	font-weight: bold;
	font-size: 20px;
	color: white;
	margin-bottom: 20px;
}
.concat_us_container .add{
	margin-top: 20px;
	margin-bottom: 40px;
}
.concat_us_container .add_address{
	font-size: 10px;
	color: white;
	margin-bottom: 20px;
}
.concat_us_container .add_email{
	font-size: 10px;
	color: white;
}
.teamList{
	display: inline-block;
	float: left;
	width: 49%;
	margin:0.3%;
}
.teamList .name{
	font-size: 14px !important;
}
.teamList img{
	width: 100%;
}
.teamShow .teamList p{
	letter-spacing: 0;
	color: black;
	font-size: 10px;
}

}

.header .logo_png{
	position: absolute;
    width: 15%;
    width: 201px;
    height: 62px;
    top: 25%;
    left: 42%;
}
.god{
	font-family: STKaiti;
    position: absolute;
    top: 40%;
    left: 37%;
    letter-spacing: 16px;
    font-weight: bold;
    font-size: 45px;
}


@media screen and (max-width: 1920px) {
.god{
	font-family: STKaiti;
      position: absolute;
    top: 40%;
    letter-spacing: 16px;
    font-weight: bold;
    font-size: 53px;
    left: 39.50%;
}
.header .logo_png{
   width: 15%;
    left: 42%;
    height: 89px;
    top: 25%;
    position: absolute;
}

}
/*
*/
 @media screen and (max-width: 1800px) {
.header .logo_png{
   width: 16%;
    left: 42%;
    height: 89px;
    top: 25%;
    position: absolute;
}
}
 @media screen and (max-width: 1700px) {
.header .logo_png{
   width: 17%;
    left: 42%;
    height: 89px;
    top: 25%;
    position: absolute;
}
}

@media screen and (max-width: 1600px) {
.god{
	font-family: STKaiti;
      position: absolute;
    top: 40%;
    letter-spacing: 16px;
    font-weight: bold;
    font-size: 53px;
    left: 38.50%;
}
 .header .logo_png{
    width: 19%;
    left: 41%;
    height: 89px;
    top: 25%;
    position: absolute;
}
}
@media screen and (max-width: 1500px) {
.god{
	font-family: STKaiti;
      position: absolute;
    top: 40%;
    letter-spacing: 16px;
    font-weight: bold;
    font-size: 53px;
    left: 38.50%;
}
 .header .logo_png{
    width: 19%;
    left: 41%;
    height: 89px;
    top: 25%;
    position: absolute;
}
}

@media screen and (max-width: 1400px) {
.god{
	font-family: STKaiti;
      position: absolute;
    top: 40%;
    letter-spacing: 16px;
    font-weight: bold;
    font-size: 53px;
    left: 36.50%;
}
 .header .logo_png{
    width: 21%;
    left: 39%;
    height: 89px;
    top: 25%;
    position: absolute;
}
}

@media screen and (max-width: 1250px) {
.god{
	font-family: STKaiti;
      position: absolute;
    top: 40%;
    letter-spacing: 16px;
    font-weight: bold;
    font-size: 53px;
    left: 34.5%;
}
/*    width: 23%;
    left: 38%;
    height: 89px;*/
 .header .logo_png{
     width: 23%;
    left: 38%;
    height: 89px;
    top: 25%;
    position: absolute;
}
}

@media screen and (max-width: 1150px) {
.god{
	font-family: STKaiti;
    position: absolute;
    top: 40%;
    letter-spacing: 16px;
    font-weight: bold;
    font-size: 53px;
    left: 32.50%;
}
.header .logo_png{
                   width: 26%;
    left: 37%;
    height: 89px;
    top: 25%;
    position: absolute;
}
}
 @media screen and (max-width: 1100px) {
.header .logo_png{
           width: 27%;
    left: 36%;
    height: 89px;
    top: 25%;
    position: absolute;
}
}

@media screen and (max-width: 1050px) {
.god{
	font-family: STKaiti;
      position: absolute;
    top: 40%;
    letter-spacing: 16px;
    font-weight: bold;
    font-size: 53px;
    left: 30.50%;
}
.header .logo_png{
	    width: 27%;
    left: 35%;
    height: 89px;
    top: 25%;
    position: absolute;
}
}
 @media screen and (max-width: 1000px) {
.header .logo_png{
        width: 33%;
    left: 34%;
    height: 87px;
    top: 25%;
    position: absolute;
}
}
/**/
 @media screen and (max-width: 950px) {
.header .logo_png{
        width: 33%;
    left: 34%;
    height: 87px;
    top: 25%;
    position: absolute;
}
}
@media screen and (max-width: 900px) {
.god{
	font-family: STKaiti;
      position: absolute;
    top: 40%;
    letter-spacing: 16px;
    font-weight: bold;
    font-size: 53px;
    left: 28.50%;
}
.header .logo_png{
    width: 34%;
    left: 31%;
    height: 87px;
    top: 25%;
    position: absolute;
}
}
 @media screen and (max-width: 850px) {
.header .logo_png{
    width: 37%;
    left: 30%;
    height: 84px;
    top: 25%;
    position: absolute;
}
}
 @media screen and (max-width: 800px) {
.header .logo_png{
    width: 37%;
    left: 32%;
    height: 82px;
    top: 25%;
    position: absolute;
}
}
@media screen and (max-width: 900px) {
.god{
	font-family: STKaiti;
      position: absolute;
    top: 40%;
    letter-spacing: 16px;
    font-weight: bold;
    font-size: 53px;
    left: 26.50%;
}
}
@media screen and (max-width: 715px) {
.god{
	    font-family: STKaiti;
    position: absolute;
    top: 40%;
    letter-spacing: 16px;
    font-weight: bold;
    font-size: 38px;
    left: 28.5%;
}
.header .logo_png{
    width: 36%;
    left: 33%;
    height: 69px;
    top: 25%;
    position: absolute;
}
}
@media screen and (max-width: 650px) {
.god{
	       font-family: STKaiti;
    position: absolute;
    top: 40%;
    letter-spacing: 16px;
    font-weight: bold;
    font-size: 38px;
    left: 25.5%;
}
.header .logo_png{
	width: 36%;
    left: 32%;
    height: 69px;
    top: 25%;
    position: absolute;
}
}
@media screen and (max-width: 600px) {
.header .logo_png{
	width: 36%;
    left: 33%;
    height: 69px;
    top: 25%;
    position: absolute;
}
}
@media screen and (max-width: 550px) {
.god{
	       font-family: STKaiti;
    position: absolute;
    top: 40%;
    letter-spacing: 16px;
    font-weight: bold;
    font-size: 38px;
    left: 21.5%;
}
.header .logo_png{
	width: 45%;
    left: 28%;
    height: 69px;
    top: 25%;
    position: absolute;
}
}
@media screen and (max-width: 500px) {
.god{
	       font-family: STKaiti;
    position: absolute;
    top: 40%;
    letter-spacing: 16px;
    font-weight: bold;
    font-size: 38px;
    left: 17.5%;
}
.header .logo_png{
	 width: 45%;
    left: 25%;
    height: 7%;
    top: 25%;
    position: absolute;
}
}
@media screen and (max-width: 465px) {
.god{
	       font-family: STKaiti;
    position: absolute;
    top: 40%;
    letter-spacing: 16px;
    font-weight: bold;
    font-size: 38px;
    left: 14.5%;
}
.header .logo_png{
	width: 45%;
    height: 8%;
    left: 26%;
    top: 25%;
    position: absolute;
}
}
@media screen and (max-width: 400px) {
.god{
	       font-family: STKaiti;
    position: absolute;
    top: 40%;
    letter-spacing: 16px;
    font-weight: bold;
    font-size: 32px;
    left: 14.5%;
}
.header .logo_png{
	width: 45%;
    height: 9%;
    left: 26%;
    top: 25%;
    position: absolute;
}
}
